---
const pageTitle = "Blog"
import '../styles/global.css'
import Header from '../components/header.astro'
import Umami from '../components/umami.astro'
const allPosts = await Astro.glob('../pages/blog/*.md');
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
		<Umami />
	</head>
	<body>
		<Header />
		<h1>{pageTitle}</h1>
        <div id="blogarticles">
			{allPosts.map((post) => <div class="blogarticle"><a href={post.url}><img src={post.frontmatter.image.url}><p>{post.frontmatter.title}</p><p class="blog-date">{post.frontmatter.pubDate}</p></a></div>)}
        </div>
	</body>
</html>
